body {
  margin: 0;
  padding: 0;
  background-color: #14171a;
  color: #cad1d8;
  font-family: "Iosevka Term SS03", "IBM Plex Mono", "Fira Code", "Fira Mono",
    "Roboto Mono", "Droid Sans Mono", Monaco, Consolas, Courier, monospace;
  font-size: 1.0625em;
  line-height: 1.5;
}
pre {
  margin: 0;
  font: inherit;
  font-family: "Iosevka Term SS03", "IBM Plex Mono", "Fira Code", "Fira Mono",
    "Roboto Mono", "Droid Sans Mono", Monaco, Consolas, Courier, monospace;
  white-space: pre-wrap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.17em;
}
h3 {
    font-size: 1em;
}
h4 {
    font-size: 0.83em;
}
h5 {
    font-size: .67em;
}
h6 {
    font-size: .5em;
}

.pre {
  font-size: .67em;
}

p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  padding-left: 3ch;
  padding-left: 1.5em;
}
ul li::before {
  display: inline-block;
  width: 3ch;
  width: 1.5em;
  margin-left: -3ch;
  margin-left: -1.5em;
  content: "–";
}
ul lino {
  padding-left: 3ch;
  padding-left: 1.5em;
}
ul lino::before {
  display: inline-block;
  width: 3ch;
  width: 1.5em;
  margin-left: -3ch;
  margin-left: -1.5em;
}
button {
  background: none;
  border: 0;
  padding: 0;
  color: #fff;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
}
button:focus {
  outline: 1px dotted currentColor;
}
img {
  display: inline-block;
  vertical-align: top;
  max-width: 8em;
  margin: 0.1em 0;
}
img::selection {
  background-color: rgba(239, 198, 138, 0.35);
}
img.expanded {
  max-width: 40em;
  max-width: 80ch;
}
img.faded {
  opacity: 0.5;
}
strong {
  font-weight: normal;
}
::selection {
  color: #000;
  background-color: rgba(239, 198, 138, 0.996);
}
:link {
  color: #fff;
}
:visited {
  color: #cad1d8;
}
:link:hover,
:visited:hover {
  color: #fff;
}
.header-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #353a3f;
}
.header {
  padding: 0.9em 1em;
  color: #929ba3;
}
.location {
  flex: 0 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-overflow: ellipsis "|";
  margin-right: 0.5em;
}
.location__prefix {
  margin-right: 0.3em;
  color: #929ba3;
  cursor: pointer;
  text-decoration: underline;
}
@media (hover: hover) {
  .location__prefix:hover {
    color: #fff;
  }
}
.location__prefix--mobile {
  display: none;
}
.location__slash {
  margin: 0 0.3em;
}
.location__uripart {
  color: #fff;
}
.imghigher {
  position: relative;
  top: -2.5px;
}
.location__uripart + .location__slash + .location__uripart {
  color: #cad1d8;
}
.location__uripart:link:hover,
.location__uripart:visited:hover {
  color: #fff;
}
.actions {
  flex: 0 0 auto;
}
.actions :visited {
  color: #fff;
}
.action {
  display: inline;
}
.action + .action::before {
  content: " | ";
}
.wrap {
  padding: 2em 1em;
  text-align: center;
}
.wrap--word-wrap {
  max-width: 45em;
  max-width: 90ch;
  margin: 0 auto;
}
.content {
  box-sizing: border-box;
  display: inline-block;
  min-width: 0;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font: inherit;
  font-family: "Open Sans", "Fira Sans", "Roboto", "Droid Sans", sans-serif;
}
.content--monospace,
.content--prefer-monospace {
  font-family: "Iosevka Term SS03", "IBM Plex Mono", "Fira Code", "Fira Mono",
    "Roboto Mono", "Droid Sans Mono", Monaco, Consolas, 'Courier New', Courier, monospace;
}
.section {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 1em;
  padding-left: 3em;
  padding-left: 5ch;
}
.textsection {
  display: block;
  align-items: baseline;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 1em;
  padding-left: 3em;
  padding-left: 5ch;
}
.section__type {
  flex: 0 0 auto;
  margin-left: -3em;
  margin-left: -5ch;
  width: 3em;
  width: 5ch;
  color: #929ba3;
  font-family: "Iosevka Term SS03", "IBM Plex Mono", "Fira Code", "Fira Mono",
    "Roboto Mono", "Droid Sans Mono", Monaco, Consolas, Courier, monospace;
  user-select: none;
  white-space: pre;
}
.section__content {
  min-width: 0;
  word-wrap: normal;
}
.is-plain .section {
  padding-left: 0;
}
.is-plain .section__type {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal--visible {
  display: block;
}
.modal__content {
  max-width: 40em;
  padding: 1.5em 1.8em;
  margin: 0 auto;
  background-color: #14171a;
  box-shadow: 0 0.1em 0.3em #000;
  text-align: left;
}
.modal__head {
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.modal__title {
  padding-right: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
}
.setting {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.setting::after {
  order: 2;
  flex: 1 1 auto;
  display: block;
  height: 0;
  margin: 0 0.5em;
  border-bottom: 2px dotted #353a3f;
  content: "";
}
.setting__label {
  order: 1;
}
.setting__value {
  order: 3;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 1em;
  }
  .modal {
    padding: 1em;
  }
  .modal__content {
    padding: 1em 1.3em;
  }
}
@media screen and (max-width: 500px) {
  .location__prefix {
    display: none;
  }
  .location__prefix--mobile {
    display: inline;
  }
  .action {
    display: block;
  }
  .action + .action::before {
    content: "";
  }
}
@media screen and (max-width: 280px) {
  .location__prefix--mobile {
    display: none;
  }
}
